<h1>Listing trips</h1>
<br>
<%= link_to 'New Trip', new_trip_path %>

<br><br>

<% @trips.each do |trip| %>
  <h3><%= link_to trip.name, trip %></h3>
  <p><%= trip.description %></p>
  <p>
    <%= link_to 'edit trip', edit_trip_path(trip) %>
    <%= link_to 'destroy it', trip, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
  
<br>

