<%= content_for(:title, (link_to @trip.name, edit_trip_path(@trip))) %>

<%= @trip.description %>



<%= form_tag(new_trip_step_path(@trip), method:"get") do |f|%>
  <%= text_field_tag(:location,'',options = {:placeholder => 'City,Country'}) %>
  <%= submit_tag('add Step') %>  
<% end %>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Day</th>
      <th></th>
      <th>Weather</th>
      <th>Temperature</th>
      <th>wind speed</th>
      <th>%clouds</th>
      <th>rain mm</th>
      <th>last forecast</th>
    </tr>
  </thead>

  <tbody>
    <% @steps.each do |step| %>
      <% step.stay.times do |day| %>
        <tr>
          <%if day == 0%>
            <td><%= link_to step.location, [@trip, step] %></td>
          <%else%>
            <td></td>
          <%end%>
            <td><%= step.arrive_on + day %></td>
            <%if step.forecasts.where('day = ?', step.arrive_on + day).order('created_at desc').first != nil %>
              <% forecast = step.forecasts.where('day = ?', step.arrive_on + day).order('created_at desc').first %>
              <td><%= forecast.weather %></td>
              <td><%= forecast.description %></td>
              <td><%= forecast.temp_day %></td>
              <td><%= forecast.speed%></td>
              <td><%= forecast.clouds%></td>
              <td><%= forecast.rain%></td>
              <td><%= forecast.created_at.in_time_zone("Sydney") %></td>
            <%else%>
              <td></td>
              <td></td>
              <td></td>
            <%end%>
        </tr>
      <%end%>

    <% end %>
  </tbody>
</table>

