<%= content_for(:title, (link_to @trip.name, edit_trip_path(@trip))) %>
<%= content_for(:description, @trip.description) %>



<%= form_tag(new_trip_step_path(@trip),{ method:"get", :role => 'form', :class => 'form-inline'}) do |f|%>
  <div class='form-group'>
  <%= label_tag :location, "Where's your next step ?"%>
  <%= text_field_tag(:location,'',options = {:placeholder => 'Sydney,AU' ,:class => 'form-control'}) %>
  </div>
  <%= submit_tag 'add',:class => "btn btn-success" %>  

<% end %>


<div class="row google-maps-container">
  <div class="col-md-6">
    <div id="map-canvas"></div>
  </div>

  <div class="col-md-6">
    <h4>my steps</h4>
    <ul class="marker-list"> 
    </ul>
  </div>
</div>



<table class="table table-striped">
  <thead>
    <tr>
      <th>Location</th>
      <th>Day</th>
      <th></th>
      <th>Weather</th>
      <th>Day Temp °C</th>
      <th>wind m/s</th>
      <th>%clouds</th>
      <th>rain mm</th>
      <th>last forecast</th>
    </tr>
  </thead>

  <tbody>
    <% @steps.each do |step| %>

      <% ( step.stay || 1 ).times do |day| %>
        <tr>
          <%if day == 0%>
            <td class='bold'><%= link_to step.location, [@trip, step] %></td>
          <%else%>
            <td></td>
          <%end%>
            <td><%= step.arrive_on + day if step.arrive_on %></td>

            <%if step.arrive_on && step.forecasts.where('day = ?', step.arrive_on + day).order('created_at desc').first != nil %>
              <% forecast = step.forecasts.where('day = ?', step.arrive_on + day).order('created_at desc').first %>
              <td><i class=<%= forecast.weather %>></i></td>
              <td><%= forecast.description %></td>
              <td class="tab_center"><%= number_with_precision(forecast.temp_day, :precision => 1) %></td>
              <td class="tab_center"><%= number_with_precision(forecast.speed, :precision => 1)%></td>
              <td class="tab_center"><%= forecast.clouds%></td>
              <td class="tab_center"><%= forecast.rain%></td>
              <td class='tab_forecast_column'><%= forecast.created_at.in_time_zone("Sydney") %></td>
            <%else%>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            <%end%>
              <td>
              <%if day == 0%>
                 <%= link_to trip_step_path(@trip,step), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class='delete'></i>
                  <%end%>
              <%end%>
              </td>
        </tr>
      <%end%>

    <% end %>
  </tbody>
</table>


<div id="token"><%= form_authenticity_token %></div>

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&sensor=false">
      // sensor set if app using geolocator or not
</script>

<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script>
  
  $(window).load(function(){
    var $mapsCanvas = $('#map-canvas')[0];
    var mapOptions = {
      // center: new google.maps.LatLng(-34.397, 150.644),
      center: {lat: -34.397, lng: 150.644},
      zoom: 8
    }
    var map = new google.maps.Map($mapsCanvas, mapOptions);

    var initialSteps = <%= @steps_json.html_safe %>

    googleApp(map, <%= @trip.id %>, <%= @steps_json.html_safe %> );
    
  })

</script>