<p>
  <strong>Name:</strong>
  <%= link_to @trip.name, edit_trip_path(@trip) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trip.description %>
</p>

<%= form_tag(new_trip_step_path(@trip), method:"get") do |f|%>
  <%= text_field_tag(:location,'',options = {:placeholder => 'City,Country'}) %>
  <%= submit_tag('add Step') %>  
<% end %>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Lon</th>
      <th>Lat</th>
      <th>Day</th>
      <th>Weather</th>
      <th>Temperature</th>
      <th>forecast created at</th>
    </tr>
  </thead>

  <tbody>
    <% @steps.each do |step| %>
      <% step.stay.times do |day| %>
        <tr>
          <%if day == 0%>
            <td><%= link_to step.location, [@trip, step] %></td>
            <td><%= step.lon %></td>
            <td><%= step.lat %></td>
          <%else%>
            <td></td>
            <td></td>
            <td></td>
          <%end%>
            <td><%= step.arrive_on + day %></td>
            <%if step.forecasts.where('day = ?', step.arrive_on + day).order('created_at desc').first != nil %>
              <td><%= step.forecasts.where('day = ?', step.arrive_on + day).order('created_at desc').first.description %></td>
              <td><%= step.forecasts.where('day = ?', step.arrive_on + day).order('created_at desc').first.temp_day %></td>
              <td><%= step.forecasts.where('day = ?', step.arrive_on + day).order('created_at desc').first.created_at.in_time_zone("Sydney") %></td>
            <%else%>
              <td></td>
              <td></td>
              <td></td>
            <%end%>
        </tr>
      <%end%>

    <% end %>
  </tbody>
</table>


