<p>
  <strong>Name:</strong>
  <%= @trip.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trip.description %>
</p>


<%= link_to 'New Step', new_trip_step_path(@trip) %>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Lon</th>
      <th>Lat</th>
      <th>Day</th>
      <th>Weather</th>
      <th>T max °C</th>
    </tr>
  </thead>

  <tbody>
    <% @steps.each do |step| %>
      <% step.stay.times do |day| %>
        <tr>
          <%if day == 0%>
            <td><%= link_to step.location, [@trip, step] %></td>
            <td><%= step.lon %></td>
            <td><%= step.lat %></td>
          <%else%>
            <td></td>
            <td></td>
            <td></td>
          <%end%>
          <td><%= step.arrive_on + day %></td>
          <td><%= step.forecasts.where('day = ?', step.arrive_on + day).order('created_at desc').first.description %></td>
          <td><%= step.forecasts.where('day = ?', step.arrive_on + day).order('created_at desc').first.temp_day %>
        </tr>
      <%end%>

    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
