<%= content_for(:title, (link_to @trip.name, edit_trip_path(@trip))) %>
<%= content_for(:description, @trip.description) %>



<%= form_tag(new_trip_step_path(@trip),{ method:"get", :role => 'form', :class => 'form-inline'}) do |f|%>
  <div class='form-group'>
  <%= label_tag :location, "Where's your next step ?"%>
  <%= text_field_tag(:location,'',options = {:placeholder => 'Sydney,AU' ,:class => 'form-control'}) %>
  </div>
  <%= submit_tag 'add',:class => "btn btn-success" %>  

<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Location</th>
      <th>Day</th>
      <th></th>
      <th>Weather</th>
      <th>Temp °C</th>
      <th>wind speed</th>
      <th>%clouds</th>
      <th>rain mm</th>
      <th>last forecast</th>
    </tr>
  </thead>

  <tbody>
    <% @steps.each do |step| %>
      <% step.stay.times do |day| %>
        <tr>
          <%if day == 0%>
            <td class='bold'><%= link_to step.location, [@trip, step] %></td>
          <%else%>
            <td></td>
          <%end%>
            <td><%= step.arrive_on + day %></td>
            <%if step.forecasts.where('day = ?', step.arrive_on + day).order('created_at desc').first != nil %>
              <% forecast = step.forecasts.where('day = ?', step.arrive_on + day).order('created_at desc').first %>
              <td><i class=<%= forecast.weather %>></i></td>
              <td><%= forecast.description %></td>
              <td class="tab_center"><%= number_with_precision(forecast.temp_day, :precision => 1) %></td>
              <td class="tab_center"><%= number_with_precision(forecast.speed, :precision => 1)%></td>
              <td class="tab_center"><%= forecast.clouds%></td>
              <td class="tab_center"><%= forecast.rain%></td>
              <td class='tab_forecast'><%= forecast.created_at.in_time_zone("Sydney") %></td>
            <%else%>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            <%end%>
              <td>
                <%= link_to trip_step_path(@trip,step), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class='delete'></i>
                  <%end%>

              </td>
        </tr>
      <%end%>

    <% end %>
  </tbody>
</table>

