<%= content_for(:title, 'User lists') %>

<div class="row">
  <div class="col-md-8 col-md-offset-1"> 
    <ul class="list-group">  
      <% for user in @users do %>
      <li class="list-group-item">
          <%= link_to user.username, user %>
          <span class="float-right">
            <% if current_user.friends.include? user %>
              already friend
            <% elsif current_user.requested_friends.include? user %>
              request pending
            <% elsif current_user.requesting_friends.include? user %>
              <%= form_tag(friendship_path(current_user.inverse_pending_friendships.find_by_user_id user.id), method: 'PATCH',class: "form-inline inline" ) do  %>
                <%= submit_tag 'Accept', class: "btn btn-success" %>
              <%end%>
              <%= form_tag(friendship_path(current_user.inverse_pending_friendships.find_by_user_id user.id), method: 'DELETE',class: "form-inline inline" ) do %>
                <%= submit_tag 'Reject',class: 'btn btn-danger' %>
              <% end %>

            <% elsif current_user == user%>
              me
            <% else %>   
              <%= link_to( friendships_path(friend_id: user), {method: :post}, {class: "btn btn-primary btn-lg active"}) do %>
                Add Friend
              <% end %>
            <% end %>
          </span>
      </li>
      <% end %>
    </ul>
  </div>
</div>