<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
     <div class="navbar-header">
      <%=link_to "MyWeatherTrip", root_path, :class => "navbar-brand"%>
    </div>      
      <p class="navbar-text">Find your way with us</p>

      <p class="navbar-text navbar-right">
        <%if current_user.present? %>
          <%= 'hello ' + current_user.email %>  |  
          <%= link_to "my trips", trips_path %>  |  
          <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
        <%else%>
          <%= link_to "Login", new_user_session_path %>  |  
          <%= link_to 'Register', new_user_registration_path %> <!-- another signup in devise/shared/_links.erb -->
        <%end%>
      </p>
  </div>
</nav>





