

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {:role => 'form', :class => 'form-signin'}) do |f| %>
  
  <h2 class='form-signin-heading'>Login</h2>



  <div>
    <%= f.email_field :email, :autofocus => true, :class => 'form-control', :placeholder => 'email' %>
  </div>

  <div>
    <%= f.password_field :password, :class => 'form-control', :placeholder => 'password'  %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me, :class => 'check_box' %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Login", :class => "btn btn-lg btn-primary btn-block"  %>
  </div>

  <%= render "devise/shared/links" %>
<% end %>