<%= form_for([@trip, @step], html: {:role => 'form', :class => 'form'}) do |f| %>
  <% if @step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% @step.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= hidden_field_tag 'locations', @locations.to_json %>

  <div class="form-group">
     <p><%= f.label :trip %> <%= @trip.name %></p>
  </div>
  
  <div class="form-group">
    <%= f.label :location %><br>
    <%if @step.new_record? %>
      <%if @location%>
        <p><%= @location %></p>
        <%=f.hidden_field :location, value: @location%>
      <%else%>
        <%= f.select(:location,@locations.each {|loc| [loc, loc]}, {}, {:class => 'form-control'}) %>
      <%end%>
    <%else%>
      <%= @step.location %>
    <%end%>
  </div>

  <div class="form-group">
    <%= f.label :arrive_on %><br>
    <% options = {:start_year => Time.now.year} %>
    <%= f.date_select :arrive_on, options, {:class => 'form-control date_select'} %>
  </div>

  <div class="form-group">
    <%= f.label :stay %><br>
    <% options = {:value => 1, :class => 'form-control number_select'} %>
      <%= f.number_field :stay, options %>
  </div>

  <div class="actions form-group">
    <%= f.submit 'create step', :class => 'btn btn-success' %>
  </div>
<% end %>
