<%= content_for(:title, 'Step Detail') %>

<h3><%= @step.location %></h3>


<p>
  <strong>Lon:</strong>
  <%= @step.lon %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @step.lat %>
</p>

<p>
  Arrive on: <strong><%= @step.arrive_on %></strong> and stay for
  <%= pluralize(@step.stay, 'day') %>
</p>


<%= link_to 'Edit', edit_trip_step_path(@trip, @step) %>  |  
<%= link_to 'Back', @trip %>  |  
<%= link_to 'Destroy', [@trip, @step], method: :delete, data: { confirm: 'Are you sure?' } %>


<h2>page under costruction .. </h2>